* {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
span {
  margin: 0;
  padding: 0;
}

.typography-title {
  font-size: 24px;
  font-weight: bold;
  font-style: 'normal';
}

.typography-contents {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

.typography-caption {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #999999;
}

.typography-bold {
  font-weight: bold;
}

.typography-italic {
  font-style: italic;
}
